<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Your name">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Your name professional website">
    <title>Document</title>
    <title>Kyle Luo</title>

    <nav>
        <a href="../index.html">Home</a>
        <a href="cv.html">CV</a>
        <a href="fun.html">For Fun</a>
        <a href="contact.html">Contact</a>



    </nav>
</head>

<body style="font-family: Arial">
    <h1>
        Kyle Luo
    </h1>
    <div class="main">
        <h2>
            Curriculum Vitae
        </h2>
        <table>
            <tr>
            <th>Kyle Luo<\th>
            <th>Description</th>
            <\tr>
            <a href="../static/Kyle Luo Official Resume (4).pdf">Link To Resume</a>
            
        </table>
    </div>
    <footer>
        © 2025 Kyle Luo. All rights reserved.
    </footer>

</body>

</html>
